<% provide(:title, 'Edit room') %>
<h1>Add new room</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
  <%= form_for(@room) do |f| %>
  <%= render 'shared/room_error_messages' %> 
  <%= f.label :num %>
  <%= f.text_field :num %>

  <%= f.label :info %>
  <%= f.text_field :info %>

  <%= f.submit "Update room", class: "btn btn-primary" %>
  <% end %>
 </div>
</div>
