<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
      <%= link_to "PMS app", '#', id: "logo" %>
     <nav>
     <ul class="nav navbar-nav navbar-right">
     <li><%= link_to "Home",   root_path %></li>
     <% if logged_in? %>
      <% if current_user.admin? %>
        <li><%= link_to "Add room", newroom_path %></li>
        <li><%= link_to "Check all bookings", bookings_path %></li>
      <% end %>
      <% if current_user.booking.nil? %>
        <li><%= link_to "booking a room", newbooking_path %></li>
      <% else %>
        <li><%= link_to "Check your booking", current_user.booking %></li>
      <% end %>
      <li><%= link_to "Rooms", rooms_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "You Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
     <% else %>
      <li><%= link_to "Log in", login_path %></li>
     <% end %>
     </ul>
     </nav>
     </div>
     </header>
     <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
     </div>
     <%= yield %>
  </body>
</html>
